@keyframes move {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes brand {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes sideIcons01 {
	0% {
		transform: translate(0px);
	}
	33% {
		transform: translate(-0.5px);
	}
	66% {
		transform: translate(0.5px);
	}
	100% {
		transform: translate(0px);
	}
}

@keyframes sideIcons02 {
	0% {
		transform: translate(0px);
	}
	33% {
		transform: translate(0.5px);
	}
	66% {
		transform: translate(-0.5px);
	}
	100% {
		transform: translate(0px);
	}
}
