.btnSidebar {
  border-radius: 50%;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
  height: 40px;
  width: 40px;
  /* 	border-color: paleta(cor1); */
  .sideIcons {
    color: paleta(cor1);
  }
}
#sideBtn01:hover {
  background-color: #ea4335;
  border-color: #ea4335;
}
#sideBtn02:hover {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
  border-color: #bc3190be;
}
#sideBtn04:hover {
  background-color: paleta(cor4);
  border-color: paleta(cor4);
}

.animation01 {
  animation: sideIcons01 2s linear infinite;
}
.animation02 {
  animation: sideIcons02 2s linear infinite;
}
