/* Paleta de cores */
/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
/* Paleta de cores */
/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@-webkit-keyframes move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes brand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes brand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.navbar {
  background-color: transparent;
}

.navbar-brand,
#offcanvasTopLabel {
  font: 2em "Quicksand", sans-serif;
  color: #fff;
  cursor: pointer;
}

.navbar-brand #sub-title,
#offcanvasTopLabel #sub-title {
  font-size: 0.5em;
  text-align: center;
}

.navbar-brand:hover,
#offcanvasTopLabel:hover {
  -webkit-animation: brand 4s ease infinite;
          animation: brand 4s ease infinite;
  color: #fff;
}

.nav-link {
  font: 1.5em "Quicksand", sans-serif;
  color: #fff;
  -webkit-animation: brand 4s ease infinite;
          animation: brand 4s ease infinite;
}

.nav-link:hover {
  color: #fff;
}

.btn:focus,
.btn-close:focus {
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

.btn-close {
  -webkit-filter: invert(1);
          filter: invert(1);
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes brand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Paleta de cores */
/* Fontes */
.hover001 {
  position: relative;
}

.hover001 #hover001::after {
  bottom: 0px;
}

#hover001::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 1px;
  width: 0%;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#hover001:hover::after {
  width: 100%;
}

.btn-close {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn-close:hover {
  -webkit-transform: rotateZ(90deg) !important;
          transform: rotateZ(90deg) !important;
}

/* Paleta de cores */
/* Fontes */
.btn {
  position: absolute;
}

.hamburguer {
  display: block;
  position: relative;
}

.hamburguer,
.hamburguer::before,
.hamburguer::after {
  height: 1px;
  background: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hamburguer::before,
.hamburguer::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburguer {
  width: 1.3em;
}

.hamburguer::before {
  width: 1.8em;
  bottom: 6px;
}

.hamburguer::after {
  width: 0.8em;
  top: 6px;
}

.btn:hover .hamburguer,
.btn:hover .hamburguer::after {
  width: 1.8em;
}

/* Paleta de cores */
/* Fontes */
div {
  text-align: center;
}

div img {
  max-width: 600px;
}

div h1 {
  color: #3f3d56;
}

div p,
div #errorBtn {
  font: 1.25em "Quicksand", sans-serif;
  color: #fff;
}

div .link {
  text-decoration: none !important;
  color: #fff;
}

div #errorBtn:hover {
  background-color: #3f3d56;
  border-color: #3f3d56;
}

div #errorBtn {
  border-color: #3f3d56;
}

.formMain {
  min-height: 100vh;
}

.formMain .form {
  width: 400px;
  height: 300px;
  -webkit-transform: translateY(20vh);
          transform: translateY(20vh);
}

.formMain input,
.formMain input:focus {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #fff;
}

.formMain label,
.formMain input,
.formMain input:focus {
  font: 0.8em "Quicksand", sans-serif;
  color: #fff;
}

.formMain .btnForm {
  font-size: 1.15em;
  -webkit-transform: translateX(-43.7px);
          transform: translateX(-43.7px);
}

.formMain .btnForm:hover {
  color: #cd8d7b;
}

body {
  height: 100vh;
  width: 100vw;
}

body,
body .offcanvas {
  background-image: linear-gradient(45deg, #084177, #687466, #cd8d7b, #fbc490);
  background-size: 300% 300%;
  -webkit-animation: move 25s ease infinite;
          animation: move 25s ease infinite;
}
/*# sourceMappingURL=main.css.map */