/* Paleta de cores */
/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
/* Paleta de cores */
/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@-webkit-keyframes move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes brand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes brand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes sideIcons01 {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  33% {
    -webkit-transform: translate(-0.5px);
            transform: translate(-0.5px);
  }
  66% {
    -webkit-transform: translate(0.5px);
            transform: translate(0.5px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes sideIcons01 {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  33% {
    -webkit-transform: translate(-0.5px);
            transform: translate(-0.5px);
  }
  66% {
    -webkit-transform: translate(0.5px);
            transform: translate(0.5px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@-webkit-keyframes sideIcons02 {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  33% {
    -webkit-transform: translate(0.5px);
            transform: translate(0.5px);
  }
  66% {
    -webkit-transform: translate(-0.5px);
            transform: translate(-0.5px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes sideIcons02 {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  33% {
    -webkit-transform: translate(0.5px);
            transform: translate(0.5px);
  }
  66% {
    -webkit-transform: translate(-0.5px);
            transform: translate(-0.5px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.navbar {
  background-color: transparent;
}

.navbar-brand,
#offcanvasTopLabel {
  font: 2em "Quicksand", sans-serif;
  color: #fff;
  cursor: pointer;
}

.navbar-brand #sub-title,
#offcanvasTopLabel #sub-title {
  font-size: 0.5em;
  text-align: center;
}

.navbar-brand:hover,
#offcanvasTopLabel:hover {
  -webkit-animation: brand 4s ease infinite;
          animation: brand 4s ease infinite;
  color: #fff;
}

.navegation {
  font: 1.5em "Quicksand", sans-serif;
  color: #fff;
  -webkit-animation: brand 4s ease infinite;
          animation: brand 4s ease infinite;
}

.navegation:hover {
  color: #fff;
}

.btn:focus,
.btn-close:focus {
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

.btn-close {
  -webkit-filter: invert(1);
          filter: invert(1);
}

/* Paleta de cores */
/* Fontes */
main {
  background-color: transparent;
}

main .sidebar {
  -webkit-transform: translate(-20px);
          transform: translate(-20px);
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes brand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sideIcons01 {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  33% {
    -webkit-transform: translate(-0.5px);
            transform: translate(-0.5px);
  }
  66% {
    -webkit-transform: translate(0.5px);
            transform: translate(0.5px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes sideIcons02 {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  33% {
    -webkit-transform: translate(0.5px);
            transform: translate(0.5px);
  }
  66% {
    -webkit-transform: translate(-0.5px);
            transform: translate(-0.5px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

/* Paleta de cores */
/* Fontes */
.hover001 {
  position: relative;
}

.hover001 #hover001::after {
  bottom: 0px;
}

#hover001::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 1px;
  width: 0%;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#hover001:hover::after {
  width: 100%;
}

.btn-close {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn-close:hover {
  -webkit-transform: rotateZ(90deg) !important;
          transform: rotateZ(90deg) !important;
}

/* Paleta de cores */
/* Fontes */
.btn {
  position: absolute;
}

.hamburguer {
  display: block;
  position: relative;
}

.hamburguer,
.hamburguer::before,
.hamburguer::after {
  height: 1px;
  background: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hamburguer::before,
.hamburguer::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburguer {
  width: 1.3em;
}

.hamburguer::before {
  width: 1.8em;
  bottom: 6px;
}

.hamburguer::after {
  width: 0.8em;
  top: 6px;
}

.btn:hover .hamburguer,
.btn:hover .hamburguer::after {
  width: 1.8em;
}

/* Paleta de cores */
/* Fontes */
div {
  text-align: center;
}

div .errorImg {
  max-width: 600px;
}

div h1 {
  color: #3f3d56;
}

div p,
div #errorBtn {
  font: 1.25em "Quicksand", sans-serif;
  color: #fff;
}

div .link {
  text-decoration: none !important;
  color: #fff;
}

div #errorBtn:hover {
  background-color: #3f3d56;
  border-color: #3f3d56;
}

div #errorBtn {
  border-color: #3f3d56;
}

/* Paleta de cores */
/* Fontes */
#formContact {
  text-align: center;
}

#formContact .contactImg {
  max-width: 300px;
}

#formContact h1 {
  color: #3f3d56;
}

#formContact p,
#formContact #contactBtn {
  font: 1.25em "Quicksand", sans-serif;
  color: #fff;
}

#formContact .link {
  text-decoration: none !important;
  color: #fff;
}

#formContact #contactBtn:hover {
  background-color: #3f3d56;
  border-color: #3f3d56;
}

#formContact #contactBtn {
  border-color: #3f3d56;
  background: transparent;
  border-radius: 5px;
}

#formContact #contactBtn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#formContact #floatingTextarea,
#formContact #floatingInput,
#formContact .form-floating {
  width: 350px;
  background-color: transparent;
  font: 1em "Quicksand", sans-serif;
  color: #fff;
}

#formContact #floatingTextarea {
  height: 150px;
}

#formContact #floatingInput {
  height: 40px;
}

#formContact #labelInput {
  font-size: 0.8em;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

#formContact #labelTextarea {
  font-size: 0.8em;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

#formContact #floatingTextarea:focus,
#formContact #floatingInput {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #fff;
}

#contactSidebar {
  -webkit-transform: translate(180px, -250px);
          transform: translate(180px, -250px);
}

#contactSidebar #contactSideBtn01:hover {
  background-color: #ea4335;
  border-color: #ea4335;
}

#contactSidebar #contactSideBtn02:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-gradient(linear, left top, left bottom, from(#6559ca), color-stop(30%, #bc318f), color-stop(50%, #e33f5f), color-stop(70%, #f77638), to(#fec66d));
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  border-color: #bc3190be;
}

.formMain {
  min-height: 100vh;
}

.formMain .form {
  width: 400px;
  height: 300px;
  -webkit-transform: translateY(20vh);
          transform: translateY(20vh);
}

.formMain input,
.formMain input:focus {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #fff;
}

.formMain label,
.formMain input,
.formMain input:focus {
  font: 1em "Quicksand", sans-serif;
  color: #fff;
}

.formMain .btnForm {
  font: 1.3em "Quicksand", sans-serif;
  -webkit-transform: translateX(-50.725px);
          transform: translateX(-50.725px);
}

.formMain .btnForm:hover {
  color: #cd8d7b;
}

.madeWho {
  font: 0.8em "Quicksand", sans-serif;
  color: #fff;
}

.btnSidebar {
  border-radius: 50%;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
  height: 40px;
  width: 40px;
  /* 	border-color: paleta(cor1); */
}

.btnSidebar .sideIcons {
  color: #fff;
}

#sideBtn01:hover {
  background-color: #ea4335;
  border-color: #ea4335;
}

#sideBtn02:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-gradient(linear, left top, left bottom, from(#6559ca), color-stop(30%, #bc318f), color-stop(50%, #e33f5f), color-stop(70%, #f77638), to(#fec66d));
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  border-color: #bc3190be;
}

#sideBtn04:hover {
  background-color: #cd8d7b;
  border-color: #cd8d7b;
}

.animation01 {
  -webkit-animation: sideIcons01 2s linear infinite;
          animation: sideIcons01 2s linear infinite;
}

.animation02 {
  -webkit-animation: sideIcons02 2s linear infinite;
          animation: sideIcons02 2s linear infinite;
}

.card {
  height: 200px;
  width: 400px;
  background-color: transparent;
  border-color: #fff;
}

.card .card-img {
  height: 200px;
  width: 150px;
}

body {
  height: 100vh;
  width: 100vw;
}

body,
body .offcanvas {
  background-image: linear-gradient(45deg, #084177, #687466, #cd8d7b, #fbc490);
  background-size: 300% 300%;
  -webkit-animation: move 25s ease infinite;
          animation: move 25s ease infinite;
}
/*# sourceMappingURL=main.css.map */